<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script type="text/javascript">
window.onload = async function() {
    var parsedData = await getStockData()
    var options = {
        animationEnabled: true,
        theme: "light2", // "light1", "light2", "dark1", "dark2"
        exportEnabled: true,
        title:{
            text: "Stock Price: AT&T Vs Verizon for 2016"
        },
        axisX: {
            valueFormatString: "MMM"
        },
        axisY: {
            includeZero:false,
            prefix: "$",
            title: "Price (in USD)"
        },
        data: [{
            type: "candlestick",
            yValueFormatString: "$###0.00",
            xValueFormatString: "MMM",
            dataPoints: parsedData
        }]
    };
    $("#chartContainer").CanvasJSChart(options);

}
</script>
</head>
<body>
<div id="chartContainer" style="height: 370px; width: 100%;"></div>
<script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
<script>


    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }


    function parseData(data) {
        var open  = JSON.parse(data.NANO.open)
        var high  = JSON.parse(data.NANO.high)
        var low   = JSON.parse(data.NANO.low)
        var close = JSON.parse(data.NANO.close)
        var value = JSON.parse(data.NANO.value)
        var volume = JSON.parse(data.NANO.volume)
        var date  = JSON.parse(data.NANO.date)
        return_data = []
        for (i=0; i<120;i++) {
            //TODO: Change above to i<date.length
            year = parseInt(date[i].toString().substring(0, 4));
            month = parseInt(date[i].toString().substring(4, 6));
            day = parseInt(date[i].toString().substring(6, 8));
            date_open = parseFloat(open[i]);
            date_high = parseFloat(high[i]);
            date_low = parseFloat(low[i]);
            date_close = parseFloat(close[i]);
            return_data.push(
                { x: new Date(year, day, month), y: [date_open, date_high, date_low, date_close] }
            )
        }
        return return_data
    }

    async function getStockData() {
        var csrftoken = getCookie('csrftoken');

        return fetch('http://127.0.0.1:8080/api/data/nano/', {
                method: 'GET',
                headers: {
                          'Accept': 'application/json',
                          'Content-Type': 'application/json',
                          'X-CSRFToken': csrftoken
                        }
                })
        .then(res=>res.json())
        .then(function(data) {
            return parseData(data)
        });
    }
</script>
</body>
</html>